<div class="container">
  <mat-card>
    <mat-card-content>
      First name
      <mat-card-subtitle>{{contact.firstName}}</mat-card-subtitle>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-content>
      Last name
      <mat-card-subtitle>{{contact.lastName}}</mat-card-subtitle>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-content>
      Phone number
      <mat-card-subtitle>{{contact.phoneNumber}}</mat-card-subtitle>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-content>
      address
      <mat-card-subtitle>{{contact.address}}</mat-card-subtitle>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-content>
      Email
      <mat-card-subtitle>{{contact.email}}</mat-card-subtitle>
    </mat-card-content>
  </mat-card>
</div>
